{% extends 'base.html' %}

{% block title %}Военные песни{% endblock %}

{% block content %}
    <h1>Военные песни</h1>

    <div class="mini-title">Баллада о матери</div>
    <div class="mini-title">Стихи Андрея Дементьева. Музыка Евгения Мартынова.</div>
<div class="box">

    <div class="video-songs"><iframe width="560" height="315" src="https://www.youtube.com/embed/vL-W6699Vdc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
    <div class="text-songs">
    Постарела мать за тридцать лет,<br>
    А вестей от сына нет и нет.<br>
    Но она все продолжает ждать,<br>
    Потому что верит, потому что мать.<br><br>

    И на что надеется она?<br>
    Много лет, как кончилась война.<br>
    Много лет, как все пришли назад,<br>
    Кроме мертвых, что в земле лежат.<br><br>

    Сколько их в то дальнее село,<br>
    Мальчиков безусых, не пришло.<br>
    ...Раз в село прислали по весне<br>
    Фильм документальный о войне.<br><br>

    Все пришли в кино — и стар и мал.<br>
    Кто познал войну и кто не знал,<br>
    Перед горькой памятью людской<br>
    Разливалась ненависть рекой.<br><br>

    Трудно было это вспоминать.<br>
    Вдруг с экрана сын взглянул на мать.<br>
    Мать узнала сына в тот же миг,<br>
    И пронесся материнский крик:<br><br></div>


    <div class="text-songs">
    — Алексей! Алешенька! Сынок!<br>
    Словно сын ее услышать мог.<br>
    Он рванулся из траншеи в бой,<br>
    Встала мать прикрыть его собой.<br><br>

    Все боялась — вдруг он упадет,<br>
    Но сквозь годы мчался сын вперед.<br>
    — Алексей! — кричали земляки.<br>
    — Алексей! — просили.— Добеги!<br><br>

    Кадр сменился! Сын остался жить,<br>
    Просит мать о сыне повторить.<br>
    И опять в атаку он бежит.<br>
    Жив-здоров, не ранен, не убит.<br>
    — Алексей! Алешенька! Сынок!<br>
    Словно сын ее услышать мог.<br><br>

    Дома все ей чудилось кино...<br>
    Все ждала, вот-вот сейчас в окно<br>
    Посреди тревожной тишины<br>
    Постучится сын ее с войны.<br><br>

        1967</div>

</div>


    <div class="mini-title">О той весне</div>
    <div class="mini-title">Слова и музыка Елены Плотниковой.</div>
<div class="box">

    <div class="video-songs"><iframe width="560" height="315" src="https://www.youtube.com/embed/MFOVwgqdvNc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
    <div class="text-songs">
    Кино идет –<br>
    Воюет взвод.<br>
    Далекий год<br>
    На пленке старой.<br>
    Нелегкий путь –<br>
    Еще чуть-чуть<br>
    И догорят<br>
    Войны пожары.<br><br>

    Счастливый май!..<br>
    Любимый край,<br>
    Своих солдат<br>
    Встречай скорее!<br>
    От ран, обид<br>
    Земля дрожит.<br>
    Теплом души<br>
    Ее согреем!<br><br>

    Припев: И все о той весне<br>
    Увидел я во сне.<br>
    Пришел рассвет<br>
    и миру улыбнулся, –<br>
    Что вьюга отмела,<br>
    Что верба расцвела<br>
    И прадед мой с войны<br>
    домой вернулся!..<br><br></div>


    <div class="text-songs-2">
    В лихом бою<br>
    В чужом краю<br>
    Пусть берегут<br>
    Любовь и вера,<br>
    Чтоб больше их<br>
    Пришло живых –<br>
    И рядовых,<br>
    И офицеров.<br><br>

    Придут весной,<br>
    Как прадед мой,<br>
    И в дом родной<br>
    Откроют двери.<br>
    Я помню свет<br>
    Далеких лет.<br>
    В свою страну<br>
    Я буду верить!<br>
    Припев.</div>

</div>
{% endblock %}

