{% extends 'base.html' %}

{% block title %}Детям о войне{% endblock %}

{% block content %}
    <h1>Детям о войне</h1>
    Выровнять кнопку по центру центровкой а не px
<div class="aboutwar">
    <div class="container">
      <img class="img-button" src="https://sun9-25.userapi.com/M5Kh-6m_v2jrMb6gHqfpMHoQgnYwb1PRKBXp9Q/p8b3KNpEMeU.jpg" alt="Фильмы о войне"/>
      <p class="title-button">Фильмы о войне</p>
      <div class="overlay"></div>
      <div class="button"><a href="/films"> Перейти </a></div>
    </div>
    <div class="container">
      <img class="img-button" src="https://sun9-37.userapi.com/Lx7lBoDjI6npPPbigpOVHeZD4Ej1RikI_NA7_Q/gyFz9RTy604.jpg" alt="Виртуальные экскурсии" />
      <p class="title-button">Виртуальные экскурсии</p>
      <div class="overlay"></div>
      <div class="button"><a href="/excursions"> Перейти </a></div>
    </div>
       <div class="container">
      <img class="img-button" src="https://sun9-39.userapi.com/FTtkQ6x_cHSOfLO_t26D9YfhivHwF7Dp6VE2zg/faBH3PDI2KQ.jpg" alt="Военные песни" />
      <p class="title-button">Военные песни</p>
      <div class="overlay"></div>
      <div class="button"><a href="/songs"> Перейти </a></div>
    </div>
</div>
{% endblock %}

