{% extends 'base.html' %}

{% block title %}Детское творчество{% endblock %}


{% block content %}
    <h1>Дети против войны</h1>
    Добавить галерею рисунков, поключить БД <br />
    На прошлом сайте название раздела и название заголовка разные (Детское творчество и Дети против войны) какой нужен? <br />
<div class="div-art">
<figure>
    <p><img width="350"; height=auto; src="https://sun9-41.userapi.com/c858320/v858320334/1f9430/D-0lPCV-Ivs.jpg" alt="" tabindex="0"/></p>
    <figuration>Вася</figuration>
</figure>

<figure>
    <p><img width="350"; height=auto; src="https://sun9-60.userapi.com/c858320/v858320334/1f9439/N7bIeuPPQtY.jpg" alt="" tabindex="0"/></p>
    <figuration>Вася</figuration>
</figure>

<figure>
    <p><img width="350"; height=auto; src="https://sun9-39.userapi.com/c858320/v858320334/1f9442/h1sqVsoJuBc.jpg" alt="" tabindex="0"/></p>
    <figuration>Вася</figuration>
</figure>
</div>
    <br />
<div class="div-art">
<figure>
    <p><img width=auto height=400; src="https://sun9-74.userapi.com/c858320/v858320334/1f944b/bWGiy3mfknM.jpg" alt="" tabindex="0"/></p>
    <figuration>Вася</figuration>
</figure>

<figure>
    <p><img width=auto; height=400; src="https://sun9-31.userapi.com/c858320/v858320334/1f9466/9hN06UvmgMY.jpg" alt="" tabindex="0"/></p>
    <figuration>Вася</figuration>
</figure>

<figure>
    <p><img width=auto; height=400; src="https://sun9-31.userapi.com/c858320/v858320334/1f946f/ftxh29NlX_c.jpg" alt="" tabindex="0"/></p>
    <figuration>Вася</figuration>
</figure>
</div>
    <br />
<div class="div-art">
<figure>
    <p><img width="350"; height=auto; src="https://sun9-52.userapi.com/c858320/v858320334/1f945d/Glbik7OmV3w.jpg" alt="" tabindex="0"/></p>
    <figuration>Вася</figuration>
</figure>

<figure>
    <p><img width="350"; height=auto; src="https://sun9-55.userapi.com/c858320/v858320334/1f9454/4MTsgOvSThE.jpg" alt="" tabindex="0"/></p>
    <figuration>Вася</figuration>
</figure>
</div>


<!--
<table class="table-art">
    <tr>
        <td align="center";>
            <figure>
                <img width="350"; height=auto; src="https://sun9-41.userapi.com/c858320/v858320334/1f9430/D-0lPCV-Ivs.jpg" alt="" tabindex="0"/></td>
                <figuration>Вася</figuration>
            </figure>
        <td align="center";><img width="350"; height=auto; src="https://sun9-60.userapi.com/c858320/v858320334/1f9439/N7bIeuPPQtY.jpg" alt="" tabindex="0"/></td>
        <td align="center";><img width="350"; height=auto; src="https://sun9-39.userapi.com/c858320/v858320334/1f9442/h1sqVsoJuBc.jpg" alt="" tabindex="0"/></td>
    </tr>
    <tr>
        <td align="center";><img width=auto height=400; src="https://sun9-74.userapi.com/c858320/v858320334/1f944b/bWGiy3mfknM.jpg" alt="" tabindex="0"/></td>
        <td align="center";><img width=auto; height=400; src="https://sun9-31.userapi.com/c858320/v858320334/1f9466/9hN06UvmgMY.jpg" alt="" tabindex="0"/></td>
        <td align="center";><img width=auto; height=400; src="https://sun9-31.userapi.com/c858320/v858320334/1f946f/ftxh29NlX_c.jpg" alt="" tabindex="0"/></td>
    </tr>
    <tr>
        <td align="center";><img width="350"; height=auto; src="https://sun9-52.userapi.com/c858320/v858320334/1f945d/Glbik7OmV3w.jpg" alt="" tabindex="0"/></td>
        <td align="center";><img width="350"; height=auto; src="https://sun9-55.userapi.com/c858320/v858320334/1f9454/4MTsgOvSThE.jpg" alt="" tabindex="0"/></td>
        <td align="center";></td>
    </tr>
</table> -->

<!--<div id="gallery">
      <img src="https://sun9-41.userapi.com/c858320/v858320334/1f9430/D-0lPCV-Ivs.jpg" alt="" tabindex="0"/>
      <img src="https://sun9-60.userapi.com/c858320/v858320334/1f9439/N7bIeuPPQtY.jpg" alt="" tabindex="0"/>
      <img src="https://sun9-39.userapi.com/c858320/v858320334/1f9442/h1sqVsoJuBc.jpg" alt="" tabindex="0"/>

      <img src="https://sun9-74.userapi.com/c858320/v858320334/1f944b/bWGiy3mfknM.jpg" alt="" tabindex="0"/>
      <img src="https://sun9-55.userapi.com/c858320/v858320334/1f9454/4MTsgOvSThE.jpg" alt="" tabindex="0"/>
      <img src="https://sun9-52.userapi.com/c858320/v858320334/1f945d/Glbik7OmV3w.jpg" alt="" tabindex="0"/>

      <img src="https://sun9-31.userapi.com/c858320/v858320334/1f9466/9hN06UvmgMY.jpg" alt="" tabindex="0"/>
      <img src="https://sun9-31.userapi.com/c858320/v858320334/1f946f/ftxh29NlX_c.jpg" alt="" tabindex="0"/>
</div>-->
{% endblock %}

