{% extends 'base.html' %}
{% load static %}

{% block title %}Фильмы о войне{% endblock %}

{% block content %}
    <h1>Фильмы о войне</h1>
<div class="mini-title">Садись рядом Мишка (1977)</div>
<div class="video-films"><iframe width="810" height="450" src="https://www.youtube.com/embed/TqMPptcv1bU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
<div class="mini-title">Советские мультфильмы:</div>
<div class="mini-title">Солдатская сказка (1983) сказки Паустовского</div>
<div class="video-films"><iframe width="810" height="450" src="https://www.youtube.com/embed/ucAGfi006_g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>


{% endblock %}

